@font-face {
    font-family: 'Roboto-light';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Roboto-Light.ttf) format('truetype');
}

#root {
    font-family: 'Roboto-light';
    width: 100%;
    height: 500px;
    margin-top: 300px;
    display: flex;
    justify-content: center;
}

img {
    width: 500px;
    height: 400px;
}