@font-face {
    font-family: 'Roboto-light';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Roboto-Light.ttf) format('truetype');
}

body {
    background-color: #1f2833;
    /* background-color: #222629; */
    /* background-color: #25274D; */
    /* background-color: #2E9CCA; */
}

#root {
    font-family: 'Roboto-light';
    /* color: whitesmoke; */
    color: rgb(225, 225, 225);
    width: 100%;
    height: 500px;
    margin-top: 300px;
    display: flex;
    justify-content: center;
}

.btn-group {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    transition: all .2s cubic-bezier(0.77, 0, 0.175, 1);
}

.radio-group {
    display: flex;
    flex-direction: column;
}

.btn-group:nth-child(0) {
    margin-right: 20px;
}

.btn {
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:28px;
	font-weight:bold;
	padding: 20px 44px;
    text-decoration:none;
    outline: none;
}

.bcg-red {
    box-shadow: inset 0px 0px 15px 3px #f44536;
    background-color: #f44536;
    border: 1px solid #f44536;
}

.bcg-green {
    box-shadow: inset 0px 0px 15px 3px #d9fbbe;
    background-color: #b8e356;
    border: 1px solid #83c41a;
}

.btn:hover {
	background-color:#a5cc52;
}

.btn:active {
	position:relative;
	top:1px;
}

.question {
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.question-title {
    font-size: 55px;
    font-weight: 700;
    transition: all .2s cubic-bezier(0.77, 0, 0.175, 1);
}

.question-description {
    transition: all .2s cubic-bezier(0.77, 0, 0.175, 1);
}

.question-radio {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.animate {
    transform: translate(-100vw);
}

img {
    width: 500px;
    height: 400px;
}