@font-face {
    font-family: 'Roboto-light';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Roboto-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Trench';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/trench.ttf) format('truetype');
}

@font-face {
    font-family: 'Martel-SemiBold';
    font-style: normal;
    src: url(../fonts/Martel-SemiBold.ttf) format('truetype');
}

html, body {
    min-height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto-light';
    color: rgb(225, 225, 225);
    background-color: #1f2833;
    background: rgb(0,212,255);
    background: linear-gradient(0deg, rgba(0,212,255,1) 0%, rgba(1,102,141,1) 25%, rgba(2,0,36,1) 100%);
    /* background-color: #222629; */
    /* background-color: #25274D; */
    /* background-color: #2E9CCA; */
}

p {
    margin: 0;
}

a {
   color: #86c232;
}

@media (min-width: 768px) {
    .navigation {
        margin-top: 10%;
        height: 15%;
        display: block;
    }

    .navigation-mobile {
        display: none;
    }
}

#app {
    height: inherit;
}

.question {
    overflow: hidden;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.question-title {
    height: 20%;
    font-family: trench;
    margin-top: 10%;
    font-size: 35px;
    font-weight: 700;
    /* transition: all .2s cubic-bezier(0.77, 0, 0.175, 1); */
}

.question-description {
    margin-top: 10%;
    height: 25%;
    /* transition: all .2s cubic-bezier(0.77, 0, 0.175, 1); */
}

.question-radio {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 10px;
    padding: 2px;
    border-radius: 10px;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(2,0,36,1) 100%);
    box-shadow: 0px 0px 1px 0px rgba(2,0,36,1);
}

.question-radio label {
    width: 100%;
    margin-left: -15px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    margin: 10% auto;
    max-width: 450px;
    /* transition: all .2s cubic-bezier(0.77, 0, 0.175, 1); */
}

/* .buttons {
    display: flex;
    justify-content: space-between;
} */

.radio-group {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

.btn-group:nth-child(0) {
    margin-right: 20px;
}

.btn {
	font-family: Times New Roman;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 25px;
	padding: 10px 25px;
    text-decoration: none;
    outline: none;
}

.bcg-red {
    box-shadow: inset 0px 0px 15px 3px #f44536;
    background-color: #f44536;
    border: 1px solid #f44536;
}

.bcg-green {
    box-shadow: inset 0px 0px 15px 3px #d9fbbe;
    background-color: #b8e356;
    border: 1px solid #83c41a;
}

.btn:hover {
	background-color:#a5cc52;
}

.btn:active {
	position:relative;
	top:1px;
}

.answer {
    margin-top: 30px;
}

/******** Navigation ********/

.navigation {
    display: none;
}

.navigation-mobile {
    margin-top: 10%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-dot-secondary {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #01547b;
    height: 30px;
    width: 30px;
    box-shadow: 0px 0px 5px 1px #83c41a;
    border-radius: 50%;
}

.navigation-dot-primary {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #01547b;
    margin: 0 15px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px #86c232;
}

.navigation-step {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 2px solid gray;
    height: 9%;
    text-align: end;
}

/******* Summary *******/

.summary {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
    text-align: center;
    /* background: rgb(0,212,255);
    background: linear-gradient(0deg, rgba(0,212,255,1) 0%, rgba(1,102,141,1) 25%, rgba(2,0,36,1) 100%); */
}

.summary-row {
    margin-top: 20px;
}

.animate {
    transform: translate(-100vw);
}

.active {
    border-left:2px solid #86c232;
    color: #86c232;
}

img {
    width: 500px;
    height: 400px;
}