import * as React from "react";

interface Props {

}

interface State {

}

class {{ pascalCase name }} extends {{ interfaceType }}<Props, State> {
    constructor(props: Props) {
        super(props);
        this.state = {

        };
    }

    render() {
        return (
            <div className="">

            </div>
        );
    }
}

export default {{pascalCase name}};
