@font-face {
    font-family: 'Roboto-light';
    font-style: normal;
    font-weight: 700;
    src: url(Roboto-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Trench';
    font-style: normal;
    font-weight: 700;
    src: url(trench.ttf) format('truetype');
}

@font-face {
    font-family: 'Martel-SemiBold';
    font-style: normal;
    src: url(Martel-SemiBold.ttf) format('truetype');
}

html, body {
    min-height: 100%;
    height: 100%;
}

html { 
    background: url(bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
    height: 100%;
    /* font-family: 'Roboto-light'; */
    color: rgb(225, 225, 225);
    /* background-color: #0b2039ed; */
}

p {
    margin: 0;
}

a {
   /* color: #86c232; */
   color: white;
}

@media (min-width: 768px) {
    .navigation {
        padding: 5% 0;
        height: 15%;
        display: block;
    }

    .navigation-mobile {
        display: none;
    }
}

.swipe-container {
    height: inherit;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.react-swipeable-view-container {
    height: 100%;
}

#app {
    height: inherit;
}

.bold {
    font-weight: bold;
}

.upperCase {
    text-transform: uppercase;
    padding: 10px;
}

.question {
    /* overflow: hidden; */
    flex: 1 0 100%;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.question-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    font-family: trench;
    font-size: 35px;
    font-weight: 700;
    /* transition: all .2s cubic-bezier(0.77, 0, 0.175, 1); */
}

.question-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55%;
    font-size: 15px;
    /* transition: all .2s cubic-bezier(0.77, 0, 0.175, 1); */
}

.question-radio {
    background: transparent;
    font-size: 15px;
    display: inline-block;
    width: 40%;
    height: 18%;
    color: white;
    padding: 2px;
    margin: 2%;
    border: 1px solid white;
    border-radius: 10px;
}

.btn-group {
    height: 25%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.radio-group {
    height: 25%;
}

.btn-group:nth-child(0) {
    margin-right: 20px;
}

.btn {
    font-family: Times New Roman;
    border: none;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 25px;
	padding: 10px 25px;
    text-decoration: none;
    outline: none;
}

.red {
    color: #fd0000;
}

.green {
    color: #3ab54a;
}

.bcg-red {
    color: #fd0000;
    border: 1px solid #f44536;
    background: transparent;
}

.bcg-green {
    color: #3ab54a;
    border: 1px solid #83c41a;
    background: transparent;
}

.btn:hover {
	background-color:#a5cc52;
}

.btn:active {
	position:relative;
	top:1px;
}

/******** Navigation ********/

.navigation {
    display: none;
    font-family: Roboto-light;
}

.navigation-mobile {
    font-family: Roboto-light;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-dot-secondary {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    box-shadow: 0px 0px 5px 1px #83c41a;
    border-radius: 50%;
}

.navigation-dot-primary {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px #86c232;
}

.navigation-step {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 2px solid gray;
    height: 9%;
    text-align: end;
}

/******* Summary *******/

.summary {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
    text-align: center;
}

.summary-row {
    margin-top: 20px;
}

.active {
    border-left:2px solid #86c232;
    color: #86c232;
}
