@font-face {
    font-family: 'Play';
    font-style: normal;
    src: url(Play-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    src: url(EBGaramond-VariableFont.ttf) format('truetype');
}

html, body {
    min-height: 100%;
    height: 100%;
}

html { 
    /* background: url(bg.png) no-repeat center center fixed; */
    background: #061b34;
    background-image: url('bg.png');
    background-position: 50% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
    height: 100%;
    font-family: EB Garamond;
    color: rgb(225, 225, 225);
    -webkit-tap-highlight-color: transparent;
}

p {
    margin: 0;
}

a {
   /* color: #86c232; */
   color: white;
}

button {
    outline: none;
}

/***********************************
******** 3rd party classess ********
***********************************/

.swipe-container {
    height: 80%;
}

.react-swipeable-view-container {
    height: 100%;
}

/***********************************
************** General *************
***********************************/

#app {
    height: inherit;
}

.bold {
    font-weight: bold;
}

.upperCase {
    text-transform: uppercase;
    padding: 10px;
}

.active {
    border-left: 2px solid #86c232;
    color: #86c232;
}

.correct .outer-circle {
    border: none;
    box-shadow: 0px 0px 0px 1px #83c41a;
    border-left: 1px solid #83c41a !important;
}

.incorrect .outer-circle {
    border: none;
    box-shadow: 0px 0px 0px 1px #f44536;
    border-left: 1px solid #f44536 !important;
}

.gray {
    opacity: .5;
}

.selected span {
    font-weight: bold;
}

.btn {
    background: transparent;
    border: 1px solid rgb(225, 225, 225);;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	color: rgb(225, 225, 225);
	font-size: 20px;
	padding: 10px 25px;
    text-decoration: none;
    outline: none;
}

.red {
    color: #f44536;
}

.green {
    color: #83c41a;
}

.btn::selection {
	background: none;
}

.btn:active {
    transform: scale(0.99);
}

.question-radio-mobile:active {
    transform: translateX(1px);
}

/*****************************
********* Navigation *********
*****************************/

.navigation {
    display: none;
    font-family: Play;
}

.navigation-mobile {
    font-family: Play;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-dot-secondary {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    box-shadow: 0px 0px 5px 1px #83c41a;
    border-radius: 50%;
}

.navigation-dot-primary {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px #86c232;
}

.navigation-step {
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    /* border-left: 2px solid gray; */
    height: 9%;
    text-align: end;
}

.navigation-step:focus {
    border-left: 2px solid #86c232;
}

/***********************************
************* Question *************
***********************************/

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.question-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    font-size: 35px;
    font-weight: 700;
    /* transition: all .2s cubic-bezier(0.77, 0, 0.175, 1); */
}

.question-description {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50%; */
    /* font-size: 15px; */
    /* transition: all .2s cubic-bezier(0.77, 0, 0.175, 1); */
}

.question-radio {
    display: none;
}

.question-radio-mobile {
    padding: 5px;
    display: flex;
}

.question-radio-mobile span {
    text-align: left;
    margin-left: 10%;
}

.question-radio-circle {
    position: relative;
    display: inline-block;
    padding: 3px;
}

.outer-circle {
    position: relative;
    border-radius: 50%;
    border: 1px solid white;
    width: 14px;
    height: 14px;
}

.inner-circle {
    border-radius: 50%;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
}

.icon-mark {
    position: absolute;
    top: 1px;
    left: 1px;
}

.btn-group {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.btn-group >
.btn-incorrect {
    color: #f44536;
    border: 1px solid #f44536;
    background: transparent;
}

.btn-group >
.btn-correct {
    color: #83c41a;
    border: 1px solid #83c41a;
    background: transparent;
}

.btn-group:nth-child(0) {
    margin-right: 20px;
}

/************************
******** Summary ********
************************/

.summary {
    font-size: 18px;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.summary-row {
    padding: 20px 0;
    border-bottom: 1px groove;
}

/******* Media queries *******
******************************
*****************************/

@media (min-width: 768px) {
    .btn {
        padding: 15px 30px;
    }

    .navigation {
        z-index: 2;
        position: absolute;
        height: 100%;
        width: 5%;
        display: block;
    }

    .radio-group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .navigation-mobile {
        display: none;
    }

    .swipe-container {
        height: 100%;
    }

    .question-description {
        font-size: 40px;
    }

    .question-radio {
        position: relative;
        display: flex;
        align-items: center;
        margin: 2%;
        font-size: 23px;
        width: 90%;
    }

    .question-radio-circle {
        margin-right: 10px;
    }

    .question-radio-label {
        text-align: left;
    }

    .outer-circle {
        width: 30px;
        height: 30px;
    }

    .btn-group button {
        font-size: 25px;
    }

    .radio-group
    .btn-incorrect {
        color: #f44536;
        border: 1px solid #f44536;
        background: transparent;
    }

    .radio-group
    .btn-correct {
        color: #83c41a;
        border: 1px solid #83c41a;
        background: transparent;
    }

    .question-radio-mobile {
        display: none;
    }

    .summary {
        margin-top: 10%;
    }
}

@media (min-width: 992px) {
    .navigation-step {
        justify-content: center;
    }

    .btn-group {
        width: 50%;
    }

    .question-radio {
        width: 45%;
    }
}

@media (hover: hover) {
    .navigation-step:hover {
        border-left: 2px solid white;
    }
}
/* animations */

@-webkit-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
  }
}

@-ms-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@-webkit-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

@-ms-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

@keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

/* other styles */
/* .svg svg {
    display: none
}
 */
.inlinesvg .svg svg {
    display: inline
}

/* .svg img {
    display: none
} */

.icon-mark svg path {
    -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
    animation: checkmark 0.25s ease-in-out 0.7s backwards;
    -webkit-animation-delay: .5s; /* Safari 4.0 - 8.0 */
    animation-delay: .5s;
}

.icon-mark svg circle {
    -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
    animation: checkmark-circle 0.6s ease-in-out backwards;
}

