import * as React from "react";

interface Props {

}

class {{ pascalCase name }} extends {{ interfaceType }}<Props> {
    constructor(props: Props) {
        super(props);
    }

    render() {
        return (
            <div className="">

            </div>
        );
    }
}

export default {{pascalCase name}};
